<h1>Listing urls</h1>

<table>
  <thead>
    <tr>
      <th>Original</th>
      <th>Short</th>
      <th>Clicks</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.original %></td>
        <td><%= url.short %></td>
        <td><%= url.clicks %></td>
        <td><%= link_to 'Info', polymorphic_url(:short, short: "#{url.short}+") %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<menu>
  <%= link_to 'Shorten a url', '/' %>
</menu>