<p id="notice"><%= notice %></p>

<p>
  <strong>Original:</strong>
  <%= @url.original %>
</p>

<p>
  <strong>Short:</strong>
  <%= @url.short %>
</p>

<menu>
  <%= link_to 'Edit', edit_url_path(@url) %> |
  <%= link_to 'Back', urls_path %>
</menu>